<form autocomplete="off" *ngIf="recipe" #recipeForm="ngForm" (ngSubmit)="submitForm(); recipeForm.resetForm()">
  <ion-list>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button icon="caret-back" color="primary" title="Discard Changes" defaultHref="recipes"></ion-back-button>
        </ion-buttons>
      <ion-title>Create New Recipe</ion-title>
    </ion-toolbar>
    </ion-header>
 
    <ion-item>
        <ion-input label="Recipe Name:" type="text" name="RecipeName" [(ngModel)]="recipe.name" class="form-control" required />
    </ion-item>
    <ion-list>
      <ion-list-header>INGREDIENTS</ion-list-header>
      <div *ngFor="let ingredient of recipe.ingredients; let i = index">
        <ion-item>
          <ion-input label="Ingredient Name:" type="text" [name]="'Ingredient' + i + 'Name'" [(ngModel)]="ingredient.name" class="form-control" required />
        </ion-item>
        <ion-item>
          <ion-input label="Amount:" type="number" [name]="'Ingredient' + i + 'Amount'" [(ngModel)]="ingredient.amount" class="form-control" required />
        </ion-item>
        <ion-item>
          <ion-input label="Units:" type="text" [name]="'Ingredient' + i + 'UnitOfMeasure'" [(ngModel)]="ingredient.unitOfMeasure" class="form-control" />
        </ion-item>
        <ion-item>
          <ion-input label="Note:" type="text" [name]="'Ingredient' + i + 'Note'" [(ngModel)]="ingredient.note" class="form-control" />
        </ion-item>
      </div>
      <br>
      <ion-button fill="outline" type="button" (click)="addIngredient()">Add Another Ingredient</ion-button>
      <ion-button fill="outline" type="button" *ngIf="recipe.ingredients.length > 1" class="btn" (click)="removeIngredient()">Remove Ingredient</ion-button>
    </ion-list>

    <ion-list>
      <ion-list-header>STEPS</ion-list-header>
      <div *ngFor="let step of recipe.steps; let i = index; trackBy:trackByIdx">
        <ion-item>
          <ion-input label="Step {{i + 1}}:" type="text" [name]="'Step' + i" [(ngModel)]="recipe.steps[i]" class="form-control" required />
        </ion-item>
      </div>
      <br>
      <ion-button fill="outline" type="button" (click)="addStep()">Add Another Step</ion-button>
      <ion-button fill="outline" type="button" *ngIf="recipe.steps.length > 1" class="btn" (click)="removeStep()">Remove Step</ion-button>
    </ion-list>

  </ion-list>

    <div class="form-group">
        <ion-button fill="outline" type="submit" [disabled]="!recipeForm.form.valid" class="btn">Create</ion-button> &nbsp;
        <ion-button fill="outline" type="button" (click)= "recipeForm.resetForm()" routerLink="/recipes" class="btn">Cancel</ion-button>
    </div>
</form>